*.json
*.jsonl
*.csv
*.pkl
venv/
Pacing_notebooks/.ipynb_checkpoints/*
Mémoire/Mémoire_MAURICE_Thomas.aux
Mémoire/Mémoire_MAURICE_Thomas.log
Mémoire/Mémoire_MAURICE_Thomas.out
Mémoire/Mémoire_MAURICE_Thomas.synctex.gz
Mémoire/Mémoire_MAURICE_Thomas.toc
Pacing_notebooks/log_pacing.log
Pacing_project/venv/*
Pacing_project/.idea/*
Pacing_project/__pycache__/
