*.json
*.jsonl
*.csv
venv/
Pacing/.ipynb_checkpoints/*
Mémoire/Mémoire_MAURICE_Thomas.aux
Mémoire/Mémoire_MAURICE_Thomas.log
Mémoire/Mémoire_MAURICE_Thomas.out
Mémoire/Mémoire_MAURICE_Thomas.synctex.gz
Mémoire/Mémoire_MAURICE_Thomas.toc
Pacing/log_pacing.log
